<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <!-- loop over categories and build links dynamically -->
            <li *ngFor="let tempProductCategory of productCategories">
            
                <!-- add category id -->
                <a routerLink="/category/{{ tempProductCategory.id }}/{{ tempProductCategory.categoryName }}" routerLinkActive="active-link">
                    {{ tempProductCategory.categoryName }}
                </a>
            </li>
        </ul>
    </nav>
</div>